<!DOCTYPE html>
<html ng-app="Media" ng-strict-di>
<head>
  <title>adserve.airpair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="https://static.airpair.com/css/libs.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://static.airpair.com/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://static.airpair.com/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://static.airpair.com/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://static.airpair.com/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://static.airpair.com/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://static.airpair.com/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://static.airpair.com/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://static.airpair.com/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://static.airpair.com/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://static.airpair.com/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://static.airpair.com/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://static.airpair.com/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://static.airpair.com/ico/favicon-16x16.png">
  <link rel="manifest" href="https://static.airpair.com/ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://static.airpair.com/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <base href="/" />
</head>
<body>

<header>
  <div>
    <a href="/" tile="media.airpair.com" target="_self" class="author"></a>
    {{#if authenticated}}
    <ul>
      <li class="cp"><a href="/campaigns" target="_self">campaigns</a></li>
      <li class="rp">
          <span>reports</span> &nbsp;
          <a href="/roi" target="_self">CP/ROI</a>
          <span>|</span> <a href="/impressions" target="_self">Impressions</a></li>
    </ul>
    {{/if}}
  </div>
</header>

<div class="main-wrap">
  {{#if authenticated}}

<div class="server-errors" server-errs></div>
<main ng-view>
  {{{body}}}
</main>


<script type="text/ng-template" id="/campaigns.html">
<header>Campaigns</header>
<ul class="campaigns" style="margin:0;padding:0">
  <li ng-repeat="c in campaigns">
    <table class="table table-striped">
      <tr>
        <th colspan="2">
          <code ng-bind="c.code"></code>
          <h3 ng-bind="c.name"></h3>
          <div style="float:right">
            <time ng-bind="c.start"></time>
            -
            <time ng-bind="c.end"></time>
          </div>
        </th>
      </tr>
      <tr ng-repeat="ad in c.ads">
        <td><b ng-bind="ad.code"></b></td>
        <td style="width:85%"><span ad-img url="ad.img" width="ad.width" dest="ad.url"></span></td>
      </tr>
    </table>
  </li>
</ul>
</script>



<script type="text/ng-template" id="/impressions.html">

<header>Impression report</header>
<div class="filters">
  <select ng-model="data.c" ng-change="refresh()">
    <option value="56f9781c7365645894420ae7">2016 Q2 Heroku Signup</option>
    <option value="56731043c554f496b6e1e217">2015 Q4 Heroku Signup</option>
    <option value="56731043c554f496b6e1e147">2015 Q3 Heroku Signup</option>
  </select>
  <select ng-model="data.s" ng-change="refresh()">
    {{ weekOptions }}
  </select>
</div>

<p class="report-summary report-empty" ng-if="!report">
  Select week to show results ...
</p>
<p class="report-summary" ng-if="report">
  Displaying <span ng-bind="report.ads.length"></span> ads
  totaling <span ng-bind="impressions | number "></span> impressions served
  from
  <b ng-bind="report.start"></b> to <b ng-bind="report.end"></b>
</p>
<hr />
<ul class="report" ng-if="report">

  <li ng-repeat="ad in report.ads">
    <h5 ng-bind="ad.img"></h5>

      <table class="table table-striped log">
        <tr>
          <th>Url</th>
          <th>CTR</th>
          <th>Impressions <span ng-bind="ad.total.impressions"></span></th>
          <th>Clicks <span ng-bind="ad.total.clicks"></span></th>
        </tr>
        <tr ng-repeat="c in ad.impressions" ng-if="c.clicks > 0 || c.count > 50">
          <td class="url">
            <span url-link c="c"></span>
          </td>
          <td><span ng-bind="(c.clicks ? c.clicks/c.count : 0) | number:3"></span>%</td>
          <td><span ng-bind="c.count"></span></td>
          <td><span ng-bind="c.clicks || '-'"></span></td>
        </tr>
      </table>

    </div>
  </li>

</ul>

</script>


<script type="text/ng-template" id="/roi.html">
<header>Campaign ROI report</header>

<div class="roi">

<h3>Heroku Q4(2) Summary</h3>
<table class="table table-striped">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Spend</th>
    <th>Target</th>
    <th>Delivered</th>
    <th>Clicks</th>
    <th>CPC</th>
    <th>CPM</th>
  </tr>
  <tr>
    <td>2/1/2016</td>
    <td>3/15/2016</td>
    <td>49</td>
    <td>$5000</td>
    <td>500,000</td>
    <td>492,273</td>
    <td>$98.45</td>
    <td>1646</td>
    <td>$0.33</td>
  </tr>
</table>


<h3>Heroku Q4(2) Weekly Performance</h3>

<table class="table table-striped">
  <tr>
    <th>Week</th>
    <th>Campaign</th>
    <th>Tag</th>
    <th>Creative</th>
    <th>Spend</th>
    <th>CRT</th>
    <th>Clicks</th>
    <th>Impressions</th>
  </tr>
  <tr>
    <td>Feb 01-06</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td>$5.87</td>
    <td>0.00%</td>
    <td>0</td>
    <td>664</td>
  </tr>
  <tr>
    <td>Feb 01-06</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 01-06</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 08-14</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 08-14</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 08-14</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 15-21</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
          <tr>
    <td>Feb 15-21</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 15-21</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 22-28</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 22-28</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 22-28</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
</table>

</div>

</script>


<script>
  window.pageData = { session: {{{ JSON session }}} }
</script>
<script type="text/javascript" src="{{cfg.static.host}}/js/angular.1.4.5.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

  {{else}}
    <div class="choice">
      <div class="local option">

  <h2>AdServe Login</h2>

  <form name="loginForm" action="/auth/password/login" class="login" method="post">
    <div form-group>
      <label class="control-label sr-only" for="loginEmail">Email</label>
      <input id="loginEmail" form-control type="email" placeholder="Email" name="email" required>
    </div>
    <div form-group>
      <label class="control-label sr-only" for="loginPassword">Password</label>
      <input id="loginPassword" form-control type="password" placeholder="Password" name="password" required>
    </div>

    <button id="loginPassowrdAuth" track-click="auth" type="submit" class="btn btn-warning btn-lg">Submit</button>

  </form>

</div>

    </div>
  {{/if}}
</div>

{{#if authenticated}}
  <footer>
    <ul>
      <li><a href="/auth/logout" class="logout" target="_self">Logout</a></li>
      <li>|</li>
      <li>&copy; 2016 airpair, inc.</li>
    </ul>
  </footer>
{{/if}}


</body>
</html>
