<!DOCTYPE html>
<html ng-app="Media" ng-strict-di>
<head>
  <title>adserve.airpair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="https://static.airpair.com/css/libs.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://static.airpair.com/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://static.airpair.com/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://static.airpair.com/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://static.airpair.com/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://static.airpair.com/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://static.airpair.com/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://static.airpair.com/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://static.airpair.com/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://static.airpair.com/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://static.airpair.com/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://static.airpair.com/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://static.airpair.com/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://static.airpair.com/ico/favicon-16x16.png">
  <link rel="manifest" href="https://static.airpair.com/ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://static.airpair.com/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <base href="/" />
</head>
<body>

<header>
  <div>
    <a href="/" tile="media.airpair.com" target="_self" class="author"></a>
    {{#if authenticated}}
    <ul>
      <li class="cp"><a href="/campaigns" target="_self">campaigns</a></li>
      <li class="rp">
          <span>reports</span> &nbsp;
          <a href="/roi" target="_self">CP/ROI</a>
          <span>|</span> <a href="/impressions" target="_self">Impressions</a></li>
    </ul>
    {{/if}}
  </div>
</header>

<div class="main-wrap">
  {{#if authenticated}}

<div class="server-errors" server-errs></div>
<main ng-view>
  {{{body}}}
</main>


<script type="text/ng-template" id="/campaigns.html">
<header>Campaigns</header>
<ul class="campaigns" style="margin:0;padding:0">
  <li ng-repeat="c in campaigns">
    <header>
      <h3 ng-bind="c.name"></h3>
      <time ng-bind="c.start"></time>
      -
      <time ng-bind="c.end"></time>
    </header>

    <section ng-repeat="ad in c.ads">
      <div class="meta">
        <b ng-bind="ad.code"></b>
        <i ng-bind="ad.img.replace('https://www.airpair.com/ads/','')"></i>
      </div>

      <span class="asset" ad-img url="ad.img" width="ad.width" dest="ad.url"></span>

      <pre><a ng-bind="ad.url"></a></pre>

    </section>

  </li>
</ul>
</script>

{{!--   <select ng-model="data.c" ng-change="refresh()">
    {{#each campaigns}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select> --}}
{{#if campaigns }}
<script type="text/ng-template" id="/impressions.html">

<header>Impression report</header>
<div class="filters">
  <select ng-model="data.s" ng-change="refresh()">
    {{ weekOptions campaigns }}
  </select>
</div>

<p class="report-summary report-empty" ng-if="!report">
  Select week to show results ...
</p>
<div class="report-summary" ng-if="report">

  Served from
  <b ng-bind="report.start"></b> to <b ng-bind="report.end"></b>

  <table class="table table-striped log">
    <tr>
      <th>Ad </th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>CTR</th>
    </tr>
    <tr ng-repeat="ad in report.ads" ng-if="ad.total.impressions > 0">
      <td class="url">
        <span ng-bind="ad.img"></span>
      </td>
      <td><span ng-bind="ad.total.impressions | number"></span></td>
      <td><span ng-bind="ad.total.clicks | number"></span></td>
      <td><span ng-bind="ad.total.clicks/ad.total.impressions | number:3"></span>%
      </td>
    </tr>
    <tfoot>
      <th ng-bind="report.ads.length + ' assets'"></th>
      <th><span ng-bind="report.total.impressions | number"></span></th>
      <th><span ng-bind="report.total.clicks | number"></span></th>
      <th></th>
    </tfoot>
  </table>
</div>
<ul class="report" ng-if="report">

  <li ng-repeat="ad in report.ads" ng-if="ad.total.impressions > 0">
    <hr />
    <h5 ng-bind="ad.img"></h5>

      <table class="table table-striped log">
        <tr>
          <th>Url</th>
          <th>Impressions <span ng-bind="ad.total.impressions | number"></span></th>
          <th>Clicks <span ng-bind="ad.total.clicks | number"></span></th>
          <th>CTR</th>
        </tr>
        <tr ng-repeat="c in ad.impressions" ng-if="c.clicks > 0 || c.count > 50">
          <td class="url">
            <span url-link c="c"></span>
          </td>
          <td><span ng-bind="c.count | number"></span></td>
          <td><span ng-bind="c.clicks || '-'"></span></td>
          <td><span ng-bind="(c.clicks ? c.clicks/c.count : 0) | number:3"></span>%</td>
        </tr>
        <tfoot>
          <th></th>
          <th><span ng-bind="ad.total.impressions | number"></span></th>
          <th><span ng-bind="ad.total.clicks | number"></span></th>
          <th></th>
        </tfoot>
      </table>

    </div>
  </li>

</ul>

</script>
{{/if}}

<script type="text/ng-template" id="/roi.html">
<header>ROI report</header>

<div class="roi">

<table class="table table-striped report">
  <tr>
    <th>Campaign</th>
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Spend</th>
    <th>Target</th>
    <th>Delivered</th>
    <th>CPM</th>
    <th>Clicks</th>
    <th>CPC</th>
  </tr>
  <tr ng-repeat="c in rio.campaigns">
    <td><span ng-bind="c.name"></span></td>
    <td><span ng-bind="c.startStr"></span></td>
    <td><span ng-bind="c.endStr"></span></td>
    <td><span ng-bind="c.days"></span></td>
    <td>$<span ng-bind="c.spend | number"></span></td>
    <td><span ng-bind="c.target | number"></span></td>
    <td><span ng-bind="c.delivered | number"></span></td>
    <td>$<span ng-bind="(c.spend / (c.delivered / 1000)) | number:2"></span></td>
    <td><span ng-bind="c.clicks"></span></td>
    <td>$<span ng-bind="(c.spend / c.clicks) | number:2"></span></td>
  </tr>
</table>

<div ng-repeat="w in rio.weeks">


<table class="table table-striped report tags">
  <tr>
    <th ng-bind="w.period" style="width:50%"></th>
    <th style="width:25%">Impressions</th>
    <th style="width:25%">Clicks</th>
  </tr>
  <tr ng-repeat="t in w.tags" ng-if="t.impressions > 0">
    <td ng-bind="t.tag"></td>
    <td ng-bind="t.impressions | number"></td>
    <td ng-bind="t.clicks | number"></td>
  </tr>
</table>
</div>

</div>

</script>


<script>
  window.pageData = { session: {{{ JSON session }}} }
</script>
<script type="text/javascript" src="{{cfg.static.host}}/js/angular.1.4.5.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

  {{else}}
    <div class="choice">
      <div class="local option">

  <h2>AdServe Login</h2>

  <form name="loginForm" action="/auth/password/login" class="login" method="post">
    <div form-group>
      <label class="control-label sr-only" for="loginEmail">Email</label>
      <input id="loginEmail" form-control type="email" placeholder="Email" name="email" required>
    </div>
    <div form-group>
      <label class="control-label sr-only" for="loginPassword">Password</label>
      <input id="loginPassword" form-control type="password" placeholder="Password" name="password" required>
    </div>

    <button id="loginPassowrdAuth" track-click="auth" type="submit" class="btn btn-warning btn-lg">Submit</button>

  </form>

</div>

    </div>
  {{/if}}
</div>

{{#if authenticated}}
  <footer>
    <ul>
      <li><a href="/auth/logout" class="logout" target="_self">Logout</a></li>
      <li>|</li>
      <li>&copy; 2016 airpair, inc.</li>
    </ul>
  </footer>
{{/if}}


</body>
</html>
